h1,
h2,
h3 {
  font-family: 'Lobster', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
      color: yellow;
    }
}

h1 {
  font-size: 60px;
  margin: 0;
}

span {
  font-size: 20px;
}



button {
  background-color:black;
  color:white;
  border:none;
  
  &:hover {
    background-color: black;
    color: white;
  }
}