h1,
h2,
h3 {
  font-family: 'Lobster', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
      color: yellow;
    }
}

h1 {
  font-size: 60px;
  margin: 0;
}

span {
  font-size: 20px;
}

main {
  max-width: 100dvw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  form{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }
}

button {
  background-color:black;
  color:white;
  border:none;
  
  &:hover {
    background-color: black;
    color: white;
  }
}