
.placeholder-ad{
  border: 1px dashed black;
  display: none; //change for view
}

.container {
  margin: 1rem;
  padding: 1rem;
}

.max-width-90 {
  max-width: 90%;
}

.rounded-corners {
  border-radius: 15px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex-end {
  justify-content: end;
}

.p-1 {
  padding: 1rem;
}

.m-1 {
  margin: 1rem;
}



#shortened-url{
  padding:1rem;
  margin:0 1rem;
  background-color: white;
  border-radius:15px;
}
.desktop-only {
  display: none;
}

.mobile-only {
  .placeholder-ad{
    margin: 0 auto;
    position: fixed;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
  }
}

#short-link-wrap {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  padding:1rem;
  color:white;
  p {
    color: black;
  }
}

#cta-signup{
  font-size: 20px;
  transition: 500ms;
  background-color: black;
  color:white;  
  &:hover{
    background-color: white;
    border:2px solid black;
    color:black;
  }
}

.shared-links-container{
  display:flex;
  flex-flow:column nowrap;
  margin: 0 auto;
  width:90%;
  *{
    margin: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
    .placeholder-ad{
      margin: 0 auto;
      position:relative;
      bottom:0;
    }
  }

  main {
    display: flex;
    flex-flow:row nowrap;
    padding: 0 1rem;

    #main-content{
      flex:3;
    }

    #side-content{
      flex:1;
      padding: 1rem;
    }
  }
}