@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(fade) {
  0% { opacity: 1;}
  50% { opacity: 1; }
  100% { opacity: 0;}
}

.flash {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;

  @include animate(fade, 5s, ease-out, 1);

  &.success {
    border: 1px solid green;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
    background-color: green;
    color: white;
  }
  &.error {
    border: 1px solid red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    background-color: red;
    color: white;
  }
  &.notice {
    border: 1px solid yellow;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.2);
    background-color: yellow;
    color: black;
  }
  &.alert {
    border: 1px solid orange;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2);
    background-color: orange;
    color: white;
  }
  p {
    margin: 0;
    font-size: 20px;
  }
}