header {
  margin: 1rem;
  padding: 1rem;

  border-radius: 25px;


  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    padding-top: max(1rem, env(safe-area-inset-top));
    padding: 0 3rem 3rem 3rem;
    background: black;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-start;
    align-items: end;
    height: 100dvh;
    transition: 1s;
    a{
      padding: 0.5rem;
    }
    
    #menu-x{
      position: absolute;
      top:1rem;
      right:1rem;
      display: flex;
      height: 25px;
      cursor: pointer;
      border-radius: 5px;
      transition: 500ms;
      
      .x-line{
        position:absolute;
        top:10px;
        right:10px;
        border:1px solid white;
        border-radius: 15px;
        width: 25px;
        height: 3px;
        background-color: white;
        &:first-child{
          transform: rotate(45deg);
        }
        &:last-child{
          transform: rotate(-45deg);
        }
      }
    }
    
    a{
      color: white;
      font-size: 20px;
      transition: 500ms;

      &:hover {
        color: yellow;
      }
      &:visited {
        color: white;
      }
    }
  }

  #brand {
    font-size: 28px;
    flex: 1;
    font-family: 'Lobster', sans-serif;
    a{
      &:visited {
        color: black;
      }
    }
  }

  #menu {
    flex: 1;

    
    #hamburger-menu {
      display: flex;
      height: 20px;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      padding: 5px;
      border-radius: 5px;
      transition: 500ms;

      .hamburger-line {
        border-radius: 2px;
        width: 25px;
        height: 3px;
        background-color: black;
      }
    }

    #hamburger-menu:hover {
      border: 1px solid black;

      .hamburger-line {
        background-color: black;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  header{
    #menu{
      #hamburger-menu{
        display: none;
      }
    }
    nav{
      display: flex !important;
      flex-flow:row nowrap !important;
      padding: unset;
      position: unset;
      height: unset;
      flex-direction: row;
      justify-content: flex-end;
      background-color: unset;
      #menu-x{
        display: none;
      }
      a{
        color:black !important;
        font-size:14px;
      }
    }
  }
}