.short-link-item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #ccc;
    align-content:center;
    .short-and-orig-links{
        display: flex;
        flex-flow: column nowrap;
        width:50%;
        .original-link,
        .short-link{
            overflow:hidden; 
            white-space:nowrap; 
            text-overflow: ellipsis;
        }
    }
    button.short-link-btn{
        height:50px;
        width:50px;
        a{
            color: black;
            text-decoration:none;
        }
        &:visited{
            color: black;
        }
    }
}