@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap');
@import 'font-awesome';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: 'Lobster', sans-serif;
}

.container {
  margin: 1rem;
  padding: 1rem;
}

.max-width-90 {
  max-width: 90%;
}

.rounded-corners {
  border-radius: 15px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex-end {
  justify-content: end;
}

.p-1 {
  padding: 1rem;
}

.m-1 {
  margin: 1rem;
}


.hidden {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: yellow;
}

a:visited {
  color: black;
}

.flash {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &.success {
    border: 1px solid green;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
    background-color: green;
    color: white
  }

  &.error {
    border: 1px solid red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    background-color: red;
    color: white;
  }

  &.notice {
    border: 1px solid yellow;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.2);
    background-color: yellow;
    color: black;

  }

  &.alert {
    border: 1px solid orange;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2);
    background-color: orange;
    color: white;
  }

  p {
    margin: 0;
    font-size: 20px;
  }
}

.styled-form {
  display: flex;
  flex-direction: column;
  background-color: #043b5c;
  padding: 2rem;
  border-radius: 10px;
  justify-content: start;
  width: 65%;
  margin: 0 auto;
  input{
    margin:5px;
    padding:10px;
    border-radius:5px;
    border:none;
  }
}

header {
  margin: 1rem;
  padding: 1rem;

  border-radius: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    background: black;
    color: white;
    position: absolute;
    top: 80px;
    width:100%;
    left: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    a{
      color: white;
      font-size: 20px;
      transition: 500ms;

      &:hover {
        color: yellow;
      }
      &:visited {
        color: white;
      }
    }
  }

  #brand {
    font-size: 28px;
    flex: 1;
    font-family: 'Lobster', sans-serif;
  }

  #menu {
    flex: 1;

    
    #hamburger-menu {
      display: flex;
      height: 20px;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      padding: 5px;
      border-radius: 5px;
      transition: 500ms;

      .hamburger-line {
        border-radius: 2px;
        width: 25px;
        height: 3px;
        background-color: black;
      }
    }

    #hamburger-menu:hover {
      border: 1px solid black;

      .hamburger-line {
        background-color: black;
      }
    }
  }
}


button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    background-color: black;
    color: rgb(219, 219, 219);
  }
}

#shortened-url{
  padding:1rem;
  margin:0 1rem;
  background-color: white;
  border-radius:15px;
}


@media only screen and (max-width: 768px) {
  button {
    color: black !important;
  }
}

//side content 100% mobile buton 30% on the right for tablet and desktop


#short-link-wrap {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;

  p {
    color: black;
  }
}

#cta-signup{
  font-size: 20px;
  transition: 500ms;
  background-color: #043b5c;
  color:white;  
  &:hover{
    background-color: white;
    color:black;
  }
}

button {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    background-color: black;
    color: white;
  }

}

h1 {
  font-size: 60px;
  margin: 0;
}

span {
  font-size: 20px;
}

main {
  max-width: 95dvw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  form{
    width:90dvw;
    display: flex;
    flex-direction: column;
  }
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.shared-links-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  .shared-link{
    border-radius:15px;
    background-color: #043b5c;
    color:white;
    transition: 500ms;
    &:hover{
      background-color: white;
      color:black;
  }
  &:visited{
    color:white;
  }
  }
}

input[type="submit"] {
  width: 20%;
  padding: 10px;
  margin-top:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #F5F2EA;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 90%;
  }

  input[type="submit"] {
    width: 40%;
    color: black;
  }

  #short-link-wrap {
    flex-direction: column;
  }

  button {
    margin: 10px 0;
  }
}
